@import "variables";

.card {
    font-family: var(--font-montserrat);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);

    .image {
        position: relative;
        width: 100%;
        height: 30rem;

        img {
            border-radius: 1rem 1rem 0 0;
        }
    }

    .content {
        padding: 0.5rem 1rem;
        position: relative;

        h2 {
            font-size: 1.6rem;
            font-weight: 700;
            margin-top: 20px;
        }

        .vote {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border-radius: 50%;
            top: -25px;
            width: 30px;
            height: 30px;
            z-index: 2;
            border: 1px solid $primaryColor;
            background-color: $whiteColor;
        }

        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}