@import "variables";

:root {
    font-size: 62.5%;

    body {
      margin: 0;
      font-size: 1.6rem;
    }
}

.error {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $secondaryColor;
    font-family: var(--font-montserrat);

    p.h1 {
        margin: 0;
        font-size: 10rem;
        font-weight: 700;
    }
}